.input-container {
  margin-bottom: 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold;
}

input {
  width: -webkit-fill-available;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  outline: none;
}
